html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

::selection {
    color: black;
    background-color: #FF9901;
}

::-webkit-scrollbar {
    display: none;
    width: 10px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background: #FF9901;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffa928;
}

canvas {
    top: 0;
    left: 0;
    width: 100%;
}

#top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110%;
}

/* TITLE */

#title-container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
}

#title {
    font-size: 4.5rem;
    text-shadow: 0px 0px 30px black;
    text-align: center;
}

#subtitle {
    font-size: 1.65rem;
    text-shadow: 0px 0px 30px black;
    margin-top: -25px;
    text-align: center;
}

@media only screen and (max-width: 800px) {

    #skills-qualities-container {
        display: none;
    }

    .hide-on-tablet {
        display: none;
    }

    #arrow-container {
        display: none;
    }

    #portfolio-body-container {
        width: 92%;
        align-items: center;
    }

    #about-body-container {
        padding: 75px 50px;
    }
}

@media only screen and (max-width: 550px) {

    #skills-qualities-container {
        display: block;
    }

    #portfolio-body-container {
        display: flex;
        align-items: space-between;
        justify-content: center;
    }
    
    #skills-graph-container {
        display: none;
    }

    #logo-container {
        display: none;
    }

    #picture-container {
        float: none;
        shape-outside: none;
    }

    #about-body-container {
        padding: 75px 35px;
    }

    #subtitle {
        width: 70%;
    }
}

@keyframes titleButtonHover {
    0% {
        background-color: #FF9901;
        color: black;
    }
    100% {
        background-color: transparent;
        color: #FF9901;
    }
}

#title-button {
    background-color: #FF9901;
    border: 3px solid #FF9901;
    border-radius: 35px;
    padding: 5px 42px;
    font-size: 1.25rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    color: black;
    text-decoration: none;
}

#title-button:hover {
    animation-name: titleButtonHover;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

/* NAV BAR */

nav {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 55px;
    background-color: #2C2C2C;
    margin-top: -5px;
    color: white;
    font-family: 'Raleway', sans-serif;
    z-index: 10;
}

@keyframes navlinkHover {
    0% {
        color: white
    }
    100% {
        color: #FF9901;
    }
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 5px 20px;
}

.nav-link:hover {
    animation-name: navlinkHover;
    animation-fill-mode: forwards;
    animation-duration: 0.75s;
}

.emph-link {
    color: black;
    background-color: #FF9901;
    border-radius: 35px;
    font-weight: bold;
    margin-left: 20px;
    font-size: 1.15rem;
    padding: 6px 30px;
}

.emph-link:hover {
    transition: opacity 0.5s;
    opacity: .8;
    color: black;
    animation-name: none;
}

#logo-container {
    font-weight: bolder;
    font-size: 1.25rem;
    cursor: pointer;
}

#logo-t {
    color: #FF9901;
    font-weight: 900;
}

/* SECTION TITLES */

.section-title-container {
    width: 100%;
    height: min-content;
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    transition: width 0.75s;
}

.section-title {
    font-size: 3rem;
    width: min-content;
    display: block;
    margin: 0 auto;
}

.section-title-underline {
    width: 60px;
    height: 5px;
    background-color: #FF9901;
    border: none;
    margin-top: 15px;
}

@keyframes sectionTitle {
    0% {
        color: red;
    }
    100% {
        color: blue;
    }
}

/* ABOUT SECTION */

#about {
    border: 2px solid white; /* For some reason the border keeps scrolling to the about section working properly */
    font-family: 'Raleway', sans-serif;
}

#about-body-container {
    padding: 75px 150px;
}

#picture-container {
    overflow: hidden;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    float: left;
    shape-outside: circle();
    margin-right: 50px;
}

#picture {
    width: auto;
    height: 250px;
}

#about-text {
    font-size: 1.25rem;
    line-height: 2rem;
}

/* STATS SECTION */

#stats {
    width: 100%;
    height: 250px;
    background-color: rgb(245, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
}

#stats-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 75%;
    font-family: 'Raleway', sans-serif;
    margin-top: -50px;
}

.stat-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.stat {
    font-size: 5rem;
}

.stat-desc {
    margin-top: -50px;
}

.stat-symbol {
    color: #FF9901;
    transform: scale(2.5);
}

/* SKILLS SECTION */

#skills-body-container {
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
}

#skills-graph-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#vertical-graph-line {
    border: none;
    background-color: black;
    width: 3px;
    height: 485px;
}

#bar-graph-container {
    height: 450px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bar-graph {
    background-color: #FF9901;
    height: 60px;
    width: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: width 1.5s;
}

.bar-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: right;
    margin-right: 20px;
}

.bar-symbol {
    color: white;
    transform: scale(1.65);
    margin-right: 12px;
}

.octagon, .inner {
	width: 125px; height: 125px;
}

.octagon { 
    overflow: hidden;
    border-radius: 50px;
    transition: transform 1.5s;
    cursor: pointer;
}

.octagon:hover {
    transform: rotate(360deg);
}

.inner {
	transform: rotate(45deg);
	background: #FF9901;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
}

.octagon-symbol {
    color: white;
    transform: scale(4.5) rotate(-45deg);
}

.quality-title {
    text-align: center;
    font-size: 1.25rem;
}

/* PORTFOLIO SECTION */

#portfolio {
    background-color: black;
    font-family: 'Raleway', sans-serif;
}

#portfolio-body-container {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    margin-top: 75px;
}

.project-container {
    border-radius: 35px;
    border: 3px solid white;
    width: 325px;
    height: 275px;
    background-color: #292929;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 25px;
}

.project-desc-container {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 0%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.5s;
}

.project-desc {
    text-align: center;
    width: 80%;
}

#project1 {
    background-image: url(assets/triptastic.PNG);
    background-position: -10px;
    background-size: cover;
}

#project2 {
    background-image: url(assets/rafiWebsite.PNG);
    background-position: center;
    background-size: cover;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: 750px solid transparent;
	border-right: 750px solid transparent;
	border-top: 175px solid black;
    margin: 0 auto;
}

#arrow-container {
    width: 60px;
    height: 75px;
    background-color: #FF9901;
    border-radius: 10px;
    margin-left: -30px;
    margin-top: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#arrow {
    color: white;
    transform: scale(2.5);
}

/* CONTACT SECTION */

#contact {
    font-family: 'Raleway', sans-serif;
}

#contact-form {
    transition: transform 1s;
    transform: scale(0.5);
}

#form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

#form-top {
    display: flex;
}

.form-field {
    background-color: #2C2C2C;
    border: none;
    width: 600px;
    font-size: 1.1rem;
    font-family: 'Raleway', sans-serif;
    padding: 5px 10px;
    color: white;
    height: 35px;
    outline: none;
}

.form-field-top {
    width: 289px;
}

::placeholder {
    color: white;
}

#form-submit {
    background-color: #FF9901;
    border: 3px solid #FF9901;
    border-radius: 35px;
    padding: 5px 42px;
    font-size: 1.25rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    color: black;
    text-decoration: none;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

#form-submit:hover {
    animation-name: titleButtonHover;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
    background-color: #2C2C2C;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#media-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 275px;
    margin-top: 35px;
}

.media-icon-button {
    border: none;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;
}

.media-icon-button:hover {
    background-color: #FF9901;
}

.media-icon {
    color: white;
    transform: scale(2.5);
}

#footer-text-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.footer-link {
    color: #FF9901;
}

/* LOADING SCREEN */

#loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2C2C2C;
    z-index: 25;
}

rect {
    opacity:0;
    animation: expand 0.2s forwards;
}
  
#line1 #dash-2 {
    animation-delay:0.1s;
}
  
#line1 #dash-3 {
    animation-delay:0.2s;
}
  
#line1 #dash-4 {
    animation-delay:0.3s;
}
  
#line2 #dash-1 {
    animation-delay:0.4s;
}
  
#line2 #dash-2 {
    animation-delay:0.5s;
}
  
#line2 #dash-3 {
    animation-delay:0.6s;
}
  
#line3 {
    animation-delay:0.7s;
}
  
#line4 {
    animation-delay:.8s;
}
  
#line5 {
    animation-delay:0.9s;
}
  
#line6 {
    animation-delay:1s;
}
  
@keyframes expand {
    0% { opacity: 1; width: 0}
    100% { opacity: 1; width: 1 }
}